.json-editor-blackboard:focus-visible {
  outline-width: 0
}

.form-control.is-valid, .was-validated .form-control:valid {
  background-image: none;
  border-color:#ced4da;
}

.was-validated .form-check-input:valid~.form-check-label {
  color: #212529;
}

.was-validated .form-check-input:valid:checked {
  background-color: #0d6efd;
}

.was-validated .form-check-input:valid {
  border-color: #0d6efd;
}

.was-validated .form-control:valid:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.was-validated .form-check-input:valid:focus {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%)
}

.was-validated .form-select:valid:focus {
  order-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.was-validated .form-select:valid {
  border-color: #ced4da;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
}
