.checked-focus.btn-check:checked+.btn-primary {
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

.checked-focus.btn-check+.btn-primary:focus {
  box-shadow: none !important
}

.json-editor-blackbord:focus-visible {
  outline-width: 0
}
